In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks

import missingno as miss

import seaborn as sns
import numpy as np
# import statsmodels.tsa.api as tsa

import datetime as dt
pd.set_option('display.float_format',lambda x:f"{x:,.2f}")

In [5]:
## How to make a markdown table from a csv
df = pd.read_csv('Data/london_weather_MODIFIED.csv')
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN
15337,20201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN
15338,20201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN
15339,20201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN
15340,20201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [9]:
## Make a datetime index using pd.to_datetime
df['Datetime'] = pd.to_datetime(df['date'], format='%Y%m%d')
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,Datetime
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00,1979-01-01
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00,1979-01-02
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00,1979-01-03
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00,1979-01-04
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00,1979-01-05
...,...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN,2020-12-27
15337,20201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN,2020-12-28
15338,20201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN,2020-12-29
15339,20201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN,2020-12-30
15340,20201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN,2020-12-31

In [10]:
## Setting the datetime index
df_ts = df.set_index("Datetime")
df_ts

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
Datetime,,,,,,,,,,
1979-01-01,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1979-01-02,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
1979-01-03,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
1979-01-04,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
1979-01-05,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00
...,...,...,...,...,...,...,...,...,...,...
2020-12-27,20201227,1.00,0.90,32.00,7.50,7.50,7.60,2.00,"98,000.00",NaN
2020-12-28,20201228,7.00,3.70,38.00,3.60,1.10,-1.30,0.20,"97,370.00",NaN
2020-12-29,20201229,7.00,0.00,21.00,4.10,2.60,1.10,0.00,"98,830.00",NaN
2020-12-30,20201230,6.00,0.40,22.00,5.60,2.70,-0.10,0.00,"100,200.00",NaN
2020-12-31,20201231,7.00,1.30,34.00,1.50,-0.80,-3.10,0.00,"100,500.00",NaN

In [13]:
df_ts = df_ts[[ 'precipitation', 'mean_temp', 'min_temp', 'max_temp', 'snow_depth']]
df_ts

            precipitation  mean_temp  min_temp  max_temp  snow_depth
Datetime
1979-01-01           0.40      -4.10     -7.50      2.30        9.00
1979-01-02           0.00      -2.60     -7.50      1.60        8.00
1979-01-03           0.00      -2.80     -7.20      1.30        4.00
1979-01-04           0.00      -2.60     -6.50     -0.30        2.00
1979-01-05           0.00      -0.80     -1.40      5.60        1.00
...                   ...        ...       ...       ...         ...
2020-12-27           2.00       7.50      7.60      7.50         NaN
2020-12-28           0.20       1.10     -1.30      3.60         NaN
2020-12-29           0.00       2.60      1.10      4.10         NaN
2020-12-30           0.00       2.70     -0.10      5.60         NaN
2020-12-31           0.00      -0.80     -3.10      1.50         NaN

[15341 rows x 5 columns]

In [14]:
df_ts.isna().sum()

precipitation     390
mean_temp         419
min_temp          386
max_temp          390
snow_depth       1752
dtype: int64

In [15]:
ts_precipitation = df_ts['precipitation']
ts_precipitation.plot